<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon"  href="favicon.png" size="32x32" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ./nav %>
    <h1><%= title %></h1>
    <p>Welcome to my personal blog site. I hope you enjoy my rantings and ravings about the random things that I think about each day.</p>
  </body>
</html>
